// @root-entry-name: 'default';
// @import (reference) '@arco-design/web-react/es/style/theme/global.less';
// @import (reference) '@arco-design/web-react/es/style/index.less';

@array-table-prefix-cls: ~'arco-formily-array-table';

.@{array-table-prefix-cls} {
  table {
    width: auto;
  }

  .arco-form-item {
    margin-bottom: 0;
  }
  &-formily-pagination {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
  }
}
