@import (reference) "@arco-design/web-react/es/style/theme/default.less";

@array-base-prefix-cls: ~"@{prefix}-formily-array-base";
@array-cards-prefix-cls: ~"@{prefix}-array-cards";

.@{array-cards-prefix-cls}-item {
  margin-bottom: 10px !important;
}

.ant-card-extra {
  .@{array-base-prefix-cls}-copy {
    margin-left: 6px;
  }
}
