@import './grid.less';

// .arco-formily-item {
//   width: 100%;
// }

.arco-formily-item-wrapper {
  max-width: 100%;
  // flex: 1;
}
.arco-form-item-symbol-formily {
  width: 12px;
  height: 12px;
  display: inline-block;
}
